<nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed w-100 z-1" style="background-color: green !important;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/post-list">CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: space-between;">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/post-list">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/post-add">Create Post</a>
      </ul>
    </div>
    <div class="d-flex" role="search" style="height: 3rem; flex-wrap: nowrap;">
      <button class="nav-link btn btn-outline-success" type="submit" (click)="onFetch()">Fetch</button>
      <button class="nav-link btn btn-outline-success" type="submit" (click)="onSave()">Save</button>
      <button class="nav-link btn btn-outline-success" type="submit">Sign In</button>
      <button class="nav-link btn btn-outline-success" type="submit">Sign Up</button>
    </div>
  </div>
</nav>