<br>
<h3>{{post?.title}}</h3>
<br>
<img class="img-fluid" src={{post?.imgPath}} width="1010" height="524">
<br><br>
<p>
    {{post?.description}}
</p>
<p>{{post?.author}}</p>
<p>{{post?.dateCreated}}</p>

<button class="btn btn-success" (click)="onClick()"><i class="fa fa-thumbs-up"></i> <span *ngIf="post && post.numberOfLikes > 0"> {{post.numberOfLikes}}</span></button> |
<button class="btn btn-primary " (click)="onEdit()">Edit</button> | <button class="btn btn-danger"
    (click)="delete()">Delete</button>

<h5 style="text-align: left;margin-top: 1rem;margin-bottom: 1rem;">Comments</h5>
<div *ngFor="let comment of post?.comments" style="margin-left: 1rem;">
    <p><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;{{comment.comment}} <small style="opacity: 0.4;font-size: x-small;">{{comment.date | date:'short'}}</small></p>
</div>

<div style="margin: 1rem;margin-top: 1rem;gap: 0.5rem;display: flex;">
    <input style="width: 50%;border-radius: 7px;text-indent: 5px;" type="text" [(ngModel)]="newComment">
    <button class="btn btn-primary" (click)="addComment(newComment)">Add Comment</button>
</div>

<br><br>
<hr>